<div id="<%= dom_id order %>">
  <p>
    <strong>Order no:</strong>
    <%= order.order_no %>
  </p>

  <p>
    <strong>Date of order:</strong>
    <%= order.date_of_order %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

  <p>
    <strong>Billing address:</strong>
    <%= order.billing_address %>
  </p>

  <p>
    <strong>Shipping address:</strong>
    <%= order.shipping_address %>
  </p>

</div>
